<html>
<head>
    <title>Тег Font</title>
</head>
<body>
<font face = "Calibri" size = "1" color = "#FF0000"> <strong>Каждый</strong> </font>
<font face = "Times New Roman" size = "2" color = "#ffa500"> <i>охотник</i> </font>
<font face = "Arial" size = "3" color = "#ffff00"> <i>желает</i> </font>
<font face = "Verdana" size = "4" color = "#4f7942"> <n>знать,</n> </font>
<font face = "Georgia" size = "5" color = "#00bfff">где </font>
<font face = "Monotype Corsiva" size = "6" color = "#0000ff">сидит </font>
<font face = "Comic Sans MS" size = "7" color = "#800080"> <i><n>фазан</n></i> </font>

</body>
</html>